{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site_name }}</title>

    <!-- "Fork me on GitHub" ribbon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <!-- Add some favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'favicon-16x16.png' %}" sizes="16x16">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="Bash.org.mny">
    <meta name="application-name" content="Bash.org.mny">
    <meta name="msapplication-config" content="{% static 'browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index_view' %}">
          <img alt="bash.org.mny" src="{% static 'favicon-white-32x32.png' %}" height="20" class="me-2">{{ site_name }}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="visually-hidden">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link {% if active_nav == 'index_view' %}active{% endif %}" href="{% url 'index_view' %}">
                <i class="bi bi-house"></i>&nbsp;Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if active_nav == 'accepted_list' %}active{% endif %}" href="{% url 'accepted_list' %}">
                <i class="bi bi-book"></i>&nbsp;Accepted
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if active_nav == 'best_list' %}active{% endif %}" href="{% url 'best_list' %}">
                <i class="bi bi-heart"></i>&nbsp;Best
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if active_nav == 'trash_list' %}active{% endif %}" href="{% url 'trash_list' %}">
                <i class="bi bi-trash"></i>&nbsp;Rejected
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if active_nav == 'quote_add' %}active{% endif %}" href="{% url 'quote_add' %}">
                <i class="bi bi-pencil"></i>&nbsp;Add quote
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if active_nav == 'quote_manage' %}active{% endif %}" href="{% url 'login_user' %}">
                <i class="bi bi-person"></i>&nbsp;Moderation panel
              </a>
            </li>
          </ul>
          {% if user.is_authenticated %}
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout_user' %}">
                <i class="bi bi-box-arrow-right"></i>&nbsp;Logout
              </a>
            </li>
          </ul>
          {% endif %}
        </div>
      </div>
    </nav>
    <div class="container" style="padding-top: 70px;">
      {% block content %}
      {% endblock %}
    </div>
    <a class="github-fork-ribbon right-bottom fixed" href="https://github.com/KrzysztofHajdamowicz/bash.org-like" title="Fork me on GitHub">Fork me on GitHub</a>
  </body>
</html>
