{% extends "quotes/base.html" %}
{% block content %}

      <form class="form-signin" name="LoginForm" action="{% url 'login_user' %}" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="username" class="visually-hidden">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        <label for="password" class="visually-hidden">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary w-100" type="submit">Sign in</button>
      </form>
{% endblock %}
