{% if quotes.has_other_pages %}
  <ul class="pagination">
    {% if quotes.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ quotes.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in quotes.paginator.page_range %}
      {% if quotes.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }} <span class="visually-hidden">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if quotes.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ quotes.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
