{% extends 'quotes/base.html' %}
{% load quote_extras %}

{% block content %}
			<div class="quote">
				<h1><a href="{% url 'quote_view' quote_id=quote.pk %}">#{{ quote.id }}</a></h1>
				<p class="quote-votes">
					<form method="post" action="{% url 'quote_vote_down' quote_id=quote.pk %}" style="display:inline;">
						{% csrf_token %}
						<button type="submit" class="btn btn-link p-0">-</button>
					</form>
					    ({{ quote.votes_up|sub:quote.votes_down }})
					<form method="post" action="{% url 'quote_vote_up' quote_id=quote.pk %}" style="display:inline;">
						{% csrf_token %}
						<button type="submit" class="btn btn-link p-0">+</button>
					</form>
				</p>
				<p class="content"><pre>{{ quote.content|linebreaksbr }}</pre></p>
				<p class="accepted-by">{{ quote.acceptant }} </p>
			</div>
{% endblock content %}
